<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>New Post Page</title>
</head>
<body>
	<h1>new post</h1>
	<form method="post">
		<label>
			<div>subject</div>
			<input type="text" name="subject" value="{{subject}}">
		</label>
		
		<label>
			<div>blog</div>
			<textArea name="blog" rows=30 cols=100>{{blog}}</textArea>
		</label>
		
		<div class="error">{{error}}</div>
		<input type="submit">
	</form>
	
	
<!-- 	<hr> -->
<!-- 	{% for blog in blogs %} -->
<!-- 		<div class="blog"> -->
<!-- 			<div class="blog-subject">{{blog.subject}}</div> -->
<!-- 			<pre class="blog-body">{{blog.blog}}</pre> -->
<!-- 		</div> -->
<!-- 	{% endfor %} -->

</body>
</html>