<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Shopping List</title>
</head>
<body>
	{% extends "base.html" %}	
	

	{% block content %}
	<form>
		<h2>Add a food</h2>
		<input type="text" name="food">
		{% if items %}
			{% for item in items %}
				<input type="hidden" name="food" value={{item}}>
			{% endfor %}
		{% endif %}
		
		<button>Add</button>
		<br>
		<br>
		<h2>Shopping List</h2>
		<br>
		{% if items %}
			{% for item in items %}
				<li>{{item}}</li>
			{% endfor %}
		{% endif %}
	</form>
	{% endblock %}
</body>
</html>